body{
	font-family: 'Anek Malayalam', sans-serif;
}

h1{
    color:mediumpurple;
}

a{
    width: 10vw;
    text-decoration: none;
}

td{
    padding: 3px;
    margin: 3px;
}

textarea{
    vertical-align: baseline;
    resize: none;
}

#formComentario{
    border-top: 2px solid grey;
    padding: 10px 0;
}

#ancora{
    width: 200px;
    border: 1px solid black;
}

.entradas{
    display: block;
    margin-bottom: 10px;
    border: 2px solid grey;
}

.botao{
    display: block;
    color: white;
    background-color: blueviolet;
    border-radius: 5%;
    padding: 1em 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.comentario{
    border: 0.5px solid grey;
    width: 60%;
    padding-left:10px;
    margin: 8px 2px;
}
